<h1>Sign up</h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :forename %>
  <%= f.input :surname %>
  <%= f.input :invite_code %>
  <%= f.association :user_type, :collection => UserType.all, :prompt => "Choose a user type" %>
  <%= f.input :manager_id, :as => :select, :collection => User.where("user_type_id = 2"), :label_method => :full_name, :value_method => :id, :prompt => "Choose a manager" %>
  <div class="well">
    <%= f.button :submit, "Sign up", :class => 'btn primary' %>
  </div>
<% end %>

<%= content_for :sidebar do %>
  <%= render :partial => "devise/shared/links" %>
<% end %>
