<h3>Create holiday</h3>
<%= simple_form_for(@vacation, :remote => true, :validate => true) do |f| %>
  <%= f.input :holiday_year_id, :as => :hidden %>
  <%= f.input :date_from, :as => :string, :input_html => { :value => Date.today.strftime("%d/%m/%Y") }  %>
  <%= f.input :date_to, :as => :string, :input_html => { :value => Date.today.strftime("%d/%m/%Y") } %>
  <%= f.input :description %>
  <div class="well">
    <%= f.button :submit, 'Create Holiday', :class => 'btn primary' %>
  </div>
<% end %>


