<%= content_for :javascripts do %>
  <%= javascript_include_tag 'vacations' %>
<% end %>

<%= content_for :sidebar do %>
  <%= render 'form' %>
<% end %>
<div id="user-info">
  <h3>Hello <%= current_user.forename %>!</h3>
  <%= simple_form_for 'holiday_year', :remote=>true do |f| %>
    <%= f.label :Year %>
    <%= f.collection_select :id, HolidayYear.all, :id, :description, :selected => HolidayYear.current_year.id %>
  <% end %>
  <div id="show_days">Days Remaining: <%= @days_remaining %></div>
</div>

<h3>Your holidays</h3>
<%= render 'table' %>
