<% @users.each do |user| %>
  <% unless user.vacations.empty? %>
    <%= content_tag :h3, user.full_name %>
    <table>
      <thead>
        <tr>
          <th>Date From</th>
          <th>Date To</th>
          <th>Description</th>
          <th>Working days used</th>
          <th>Status</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% user.vacations.each do |holiday| %>
          <%= content_tag_for :tr, holiday do %>
            <%= content_tag :td, holiday.date_from.strftime("%d/%m/%Y") %>
            <%= content_tag :td, holiday.date_to.strftime("%d/%m/%Y") %>
            <%= content_tag :td, holiday.description %>
            <%= content_tag :td, holiday.working_days_used %>
            <%= content_tag :td, holiday_status(holiday) %>
            <td><%= link_to 'Approve', vacation_path(holiday, :vacation => { :holiday_status_id => 2 }), :method => :put, :remote => true %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
