<h1>Send invitation</h1>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email %>
  <div class="well">
    <%= f.button :submit, "Send invitation", :class => 'btn primary' %>
    <%= link_to 'Cancel', :back, :class => 'btn' %>
  </div>
<% end %>
