<%= content_for :javascripts do %>
  <%= javascript_include_tag 'absences' %>
<% end %>

<%= content_for :sidebar do %>
  <%= render 'form' %>
<% end %>
<div id="user-info">
  <div class="gravatar-wrapper">
    <%= link_to image_tag(gravatar(current_user, :size => 60), :class => 'gravatar'), "https://en.gravatar.com/site/signup" %>
  </div>
  <div class="user-info-wrapper">
    <h3>Hello <%= current_user.forename %></h3>
    <%= simple_form_for 'holiday_year', :remote => true do |f| %>
      <%= f.collection_select :id, HolidayYear.all, :id, :description, :selected => HolidayYear.current_year.id %>
      <div id="days-remaining-wrapper">Days remaining: <%= content_tag :span, @days_remaining, :id => 'days_remaining' %></div>
    <% end %>
  </div>
</div>

<%= render 'table' %>
