<div id="report-absences">
	<table id="absences">
		<thead>
			<th>User</th>
			<th>Absence Type</th>
			<th>Start date</th>
			<th>End date</th>
			<th>Description</th>
			<th>Working days</th>
			<th>Status</th>
		</thead>
		<tbody>
			<% @absences.each do |absence| %>
				<tr>
					<td><%=absence.user.full_name%></td>
					<td><%=absence.absence_type.name%></td>
					<td><%=absence.date_from.strftime('%d/%m/%Y')%></td>
					<td><%=absence.date_to.strftime('%d/%m/%Y')%></td>
					<td><%=absence.description%></td>
					<td><%=absence.working_days_used%></td>
					<td><%=absence.holiday_status.status%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>